.info-card {
  background-color: rgba(92, 92, 92, 0.32);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  width: 400px;
  margin: 30px;
}

.info-card-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.info-card h3 {
  margin: 10px 0;
  color: #00ffcc;
}

.info-card p {
  font-size: 16px;
}
